.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  filter: brightness(70%);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.explore-btn {
  padding: 12px 25px;
  background-color: #ff7b00;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.explore-btn:hover {
  background-color: #ff9e3d;
}
